version: 2.1
orbs:
  docker: circleci/docker@2.1.4
  snyk: snyk/snyk@1.5.0
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0.7
    steps:
      - checkout
      - run: mvn clean package
  test:
    docker:
      - image: cimg/openjdk:17.0.7
    steps:
      - checkout
      - run: |
          echo "Running tests..."
          mvn test
  scan:
    docker:
      - image: cimg/openjdk:17.0.7
    environment:
      IMAGE_NAME: rkapril/education-space
    steps:
      - checkout
      - setup_remote_docker
      - docker/check
      - run: docker build -t $IMAGE_NAME .
      - snyk/scan:
          severity-threshold: critical
          docker-image-name: $IMAGE_NAME
  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          image: rkapril/education-space
          tag: ${CIRCLE_SHA1}
      - docker/push:
          image: rkapril/education-space
          tag: ${CIRCLE_SHA1}

workflows:
  simple_workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      - scan:
          requires:
            - build
      - build-and-push:
          requires:
            - test
            - scan
